@model ProyectoFinal.Models.CorporativoFormModel
@{
    ViewBag.Title = "Crear";
}

<h2>Crear cliente Corporativo</h2>

@using (Html.BeginForm("NewCorp", "Clientes", FormMethod.Post))
{
<div class="form">
    <div class="form-group">
        @Html.LabelFor(d => d.Nacionalidad)
        @Html.TextBoxFor(d => d.Nacionalidad, "", new { @class = "form-control" })
        @Html.ValidationMessageFor(d => d.Nacionalidad, null, new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(d => d.Provincia)
        @Html.TextBoxFor(d => d.Provincia, "", new { @class = "form-control" })
        @Html.ValidationMessageFor(d => d.Provincia, null, new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(d => d.Direccion)
        @Html.TextBoxFor(d => d.Direccion, "", new { @class = "form-control" })
        @Html.ValidationMessageFor(d => d.Direccion, null, new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(d => d.Telefono)
        @Html.TextBoxFor(d => d.Telefono, "", new { @class = "form-control" })
        @Html.ValidationMessageFor(d => d.Telefono, null, new { @class = "text-danger" })
    </div>
    <div class="form-group ">
        @Html.LabelFor(d => d.DNI)
        @Html.TextBoxFor(d => d.DNI, "", new { @class = "form-control" })
        @Html.ValidationMessageFor(d => d.DNI, null, new { @class = "text-danger" })
    </div>
    <div class="form-group ">
        @Html.LabelFor(d => d.Apellido)
        @Html.TextBoxFor(d => d.Apellido, "", new { @class = "form-control" })
        @Html.ValidationMessageFor(d => d.Apellido, null, new { @class = "text-danger" })
    </div>
    <div class="form-group ">
        @Html.LabelFor(d => d.Nombre)
        @Html.TextBoxFor(d => d.Nombre, "", new { @class = "form-control" })
        @Html.ValidationMessageFor(d => d.Nombre, null, new { @class = "text-danger" })
    </div>
    <div class="form-group ">
        @Html.LabelFor(d => d.CUIT)
        @Html.TextBoxFor(d => d.CUIT, "", new { @class = "form-control" })
        @Html.ValidationMessageFor(d => d.CUIT, null, new { @class = "text-danger" })
    </div>
    <div class="form-group ">
        @Html.LabelFor(d => d.RSocial)
        @Html.TextBoxFor(d => d.RSocial, "", new { @class = "form-control" })
        @Html.ValidationMessageFor(d => d.RSocial, null, new { @class = "text-danger" })
    </div>
    <div>
        <button class="btn btn-success">Cancelar</button>
        <button class="btn btn-primary" type="submit">Guardar</button>
    </div>

</div>
}

